<div class="container my-5">
  <h1> {{ title }} </h1>
  <hr>
  <input type="text" class="form-control" placeholder="Search by name..." (input)="filter($event)" >
  <div class="row mt-4">
    <div *ngFor="let character of characters" class="col-xl-4 col-sm-6 col-xs-12">
      <app-card [character]="character"></app-card>
    </div>
  </div>
</div>
<div class="container">
  <footer class="py-3 my-4">
   <hr>
    <p class="text-center text-muted">© {{getTimeYear()}} Copyright | <a href="{{urlDev}}" target="_blank">Pierre Juarez U.</a> </p>
  </footer>
</div>